# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Виртуальное окружение
.venv/
venv/
env/

# База данных
instance/
*.db
*.sqlite3

# Переменные окружения (секреты!)
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.log
